---
dogs:
  - name: Dasher-layout
    breed: Whippet
  - name: Maisey-layout
    breed: Treeing Walker Coonhound
  - name: Ramsey-layout
    breed: Native American Indian Dog
  - name: Oscar-layout
    breed: German Shorthaired Pointer
---

<header>layout.njk header</header>
{{ content | safe }}
<footer>layout.njk footer</footer>